
* {
   font-family: 'Roboto', sans-serif;
  font-smooth: always;
   
}

:root {
  --background: #66a188
  ;
}

title{
    
}

html {
    text-shadow: 0 4px 4px rgb(71 97 206 / 36%);
}

body{
    background: var(--background);
  
    height: 100%;
    width: 100%;
    margin: auto; 
    animation-duration: 1s;
    animation-name:  anim;
    transition-timing-function: ease-in;
}

h1 {
    font-size: 70px;
    color: #ffffff;
    position: relative;
    text-align: center;
}

.main{
  top:75%;
    background: rgba(255, 255, 255, 0.151);
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 10.0px );
  -webkit-backdrop-filter: blur( 10.0px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
    margin: 50px auto;
    max-width:  20%;
 
}

.timertitle{
    font-size: 50px;
    
    text-shadow: 2px 2px 2px #313131;
    color: #464646;
    text-align: center;
}

#timer{
    font-size: 100px;
    text-align: center;
    padding: 20px;
    text-shadow: 1px 1px 45px rgba(255, 255, 255, 0.12);
}

.flexcontainer{
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    justify-content: center;
    display: flex;
}

.flex-item{
    background: rgba(255, 255, 255, 0.36);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 10px 20px 10px 20px;
    margin: 10px;
    color: white;
    font-size: 20px;
    text-shadow: 0 2px 4px rgb(71 97 206 / 36%);
    order: 0;
    flex-shrink: 3;
    flex-basis:   auto;
    outline: none;
    
}

.flex-item:active {
    background: rgba(0, 6, 83, 0.35);
    border: 0px;
    outline: none;
}

.flex-item:disabled {
    background: rgba(0, 6, 83, 0.35);
    border: 0px;
    outline: none;
}
.flex-item span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.flex-item span:after {
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
left: -20px;
  transition: 0.5s;
}

.flex-item:hover span {
    padding-right: 25px;
    padding-left: 25px;

    
}

.flex-item:hover span:after {
  opacity: 1;
  right: 0;
}

.round{
  width: 20vw;
  height: 20vw;
  position:relative;
  top: 30%;
  left: 40%;
  justify-content: center;
  border-radius: 50%;
  background: rgb(226, 214, 148);
  overflow: hidden;
  box-shadow: 5px 10px 5px rgba(0, 0, 0, 0.027);
 
}

.round2{
  width: 90%;
  height: 90%;
  position:absolute;
  top: 5%;
  left: 5%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.192);
  overflow: hidden;
  box-shadow: 10px 10px 10px 10px rgba(255, 255, 255, 0.274);
  animation: bubble-anim 1s linear infinite;
}


.tempo{
  top: 75%;
  padding: 30px;
  justify-content: center;
  display: flex;
}

.stelo{
  clip-path: path(M 208.8125,35.374999 c 6.5963,3.8234 8.68559,6.81853 11.9375,11.25 -4.20404,-3.024103 -7.42561,-7.634588 -14.3125,-10.0625 -5.82324,1.70005 -8.59647,5.830666 -11.4375,9.1875 2.05569,-3.874126 4.78895,-8.237639 8.9375,-10.0625 -5.8816,1.87008 -6.96562,1.085935 -12.9375,-2.3125 6.08333,1.38353 8.29167,2.112641 12.875,0 -4.48345,-3.215949 -1.31573,-7.375503 -0.25,-10.75 0.24346,3.249261 -0.20866,7.523871 3.4375,10.125 6.3208,-0.382521 9.87093,-3.764943 12.0625,-6.625 -0.22131,5.235595 -4.96051,8.648573 -10.3125,9.25 z);
    width:160px;
  height:160px;
  position: absolute;
  background:#4CAF50;
}

.tempopassato {
    font-size: 80px;
    color: #ffffff;
    text-shadow: 0 2px 4px rgb(71 97 206 / 36%);

}

.wave
{
	position: absolute;
	width: 100%;
	height: 100%;
	background: #ff0000;
  /* background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%); */
	border-radius: 50%;
	box-shadow: inset 0 0 300px rgb(255, 255, 255);
}
.wave:before,
.wave:after
{
	content: '';
	position: absolute;
	width: 200%;
	height: 200%;
  top : var(--altezza);
	left: 50%;
	transform: translate(-50%,-75%);
	background: #000;
}
.wave:before
{
	border-radius: 45%;
	background: rgb(247, 239, 198);
	animation: animate 20s linear infinite;
}
.wave:after
{
	border-radius: 40%;
	background: rgba(247, 239, 198,.5);
	animation: animate 10s linear infinite;
}
@keyframes animate
{
	0%
	{
		transform: translate(-50%,-70%) rotate(0deg);
	}
	100%
	{
		transform: translate(-50%,-70%) rotate(360deg);
	}
}

@keyframes riemp
{
	0%
	{
		transform: translateY(150%);
	}
	100%
	{
		transform: translateY(-100%);
	}
}


